<% footer_bot_data.forEach(function(data) { %>
    <div class="footer_center_area">
        <h5><%= data.title%></h5>
        <div class="footer_center_area_text">
            <p><%= data.data[0]%></p>
            <p><%= data.data[1]%></p>
            <p><%= data.data[2]%></p>
            <p><%= data.data[3]%></p>
        </div>
    </div>
<% }) %>